
body {
    background-color: darkseagreen;
}

li {
    list-style-type: none;
}

li #soucat{
    list-style-type: none;
    font-family: "garamond";
    color: black;
}

.categorie{
    background-color: floralwhite;
    font-family: "Arial Black";
    font-size: larger;
}
.regle{
    background-color: floralwhite;
    font-size: medium;
}

.inp{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    flex-direction: column;
    justify-content:space-between;
}



