<#import "main.ftlh" as m>
<@m.page title="">

    <div class="container-fluid">
        <h3></h3>
        <div><center>
                <form action="/Inscriptions" method="post">
                    <div class="container">
                        <h1>Inscription</h1>
                        <p>Bienvenue amateurs et professionnels de golf</p>
                        <br/>
                        <div class="inp">
                            <label for="email"><b>Nom : </b></label>
                            <input type="text" placeholder="Entrer votre Nom de famille" name="name" required>
                            <br/>
                        </div>
                        <div class="inp">
                        <label for="email"><b>Email : </b></label>
                        <input type="text" placeholder="Entrer votre Email" name="email" required>
                        <br/>
                        </div>
                        <div class="inp">
                        <label for="psw"><b>Mot de passe : </b></label>
                        <input type="password" placeholder="Minimum 12 caractères" name="psw" required>
                        <br/>
                        </div>
                        <div class="inp">
                        <label for="psw-repeat"><b>Répéter : </b></label>
                        <input type="password" placeholder="Répéter le mot de passe" name="psw-repeat">
                        <br>
                        </div>
                        <br/>
                        <p>En créant ce compte vous acceptez notre <a href="#">politique de confidentialité</a>.</p>
                        <button type="submit" class="registerbtn">Inscription</button>
                    </div>

                    <div class="container signin">
                        <p>Vous possedez déjà un compte ? <a href="/Connexion">Par ici</a>.</p>
                    </div>
                </form>
            </center></div>
    </div>

</@m.page>
