<#import "main.ftlh" as m>
<@m.page title="">

    <div class="container">
        <h2>Règles locales</h2>
        <div class="accordeon">
            <form action="/Modifier" method="POST">
            <#list categories as categorie>
                <div class="card categorie">
                <div>
                    <a class="card-link" data-toggle="collapse" href="#cat${categorie.id}">
                        <li><b> ${categorie.code}</b> : ${categorie.titre}</a>
                    <a href="/Categorie/${categorie.id}" style="float: right"><button type="button" value="${categorie.id}">Modifier</button></a></li>
                </div>
            </form>

                </div>
                <br/>
                <#list categorie.getSousCategorieList() as soucat>
                <div class="collapse" id="cat${categorie.id}">
                    <!-- a fermer plustard == (balise collapse num 1)!!-->

                    <div>
                        <a class="card-link" data-toggle="collapse" href="#SouCat${soucat.id}"
                           value="${soucat.id}">
                        <li id="soucat"><b>${categorie.code}.${soucat.num}</b> : ${soucat.titre}</li></a>
                    </div>

                    <#list soucat.getRegles() as regle>
                        <div class="collapse show" id="SouCat${soucat.id}">
                            <!-- a fermer plustard == (balise collapse num 2)!!-->

                            <a class="card-link" data-toggle="collapse" href="#menuRegles${regle.id}" value="${regle.id}">

                            <label class="cont" for="${categorie.code}${categorie.id}${soucat.id}${regle.id}"></label>
                            <li><b>${categorie.code}.${soucat.num}.${regle.num}</b>: ${regle.titre!""}</li>
                            </a>
                            <input type="checkbox" id="${categorie.code}${categorie.id}${soucat.id}${regle.id}"
                                   value="${categorie.code}${categorie.id}${soucat.id}${regle.id}">
                            <span class="checkmark"></span>


                            <div class="collapse show regle" id="menuRegles${regle.id}" >
                                ${regle.contenu}
                            </div>
                            <br/>
                        </div> <!-- fermeture balise collapse num 2-->
                    </#list>
                </div> <!-- fermeture balise collapse num 1-->
                </#list>
            </#list>

        </div>  <!-- accordeon -->
    </div>  <!-- container-->
</@m.page>